html{
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--main-color);
    font-weight: lighter;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    font-size: 1.2rem;
    background-color: var(--dark-color);
}

.back-white {
background-color: var(--main-color);
}

:root {
    --main-color: #ffffff;
    --accent-color: #ffd504;
    --light-color: #f9f5f2;
    --dark-color: black;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--dark-color);
    width: 100vw;
    height: 50px;
    z-index: 100;
  }

  /*.back-black{
    border-top: 10px solid black;
      }*/

  .icon-menu {
    margin-right: 5vw;
    width: 4vh;
    height: 4vh;
    cursor: pointer;
  }

  nav > ul > li > a {
    display: flex;
    font-size: 14px;
    justify-content: left;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    color: var(--main-color);
  }

input#menu-hamburguesa {
  height: 30px;
  width: 100%;
  visibility: hidden;
  border-radius: 50%;
}

/* Menu container*/
input#menu-hamburguesa ~ ul {
  display: flex;
  background-color: var(--dark-color);
  color: var(--light-color);
  position: absolute;
  list-style: none;
  width: 100%;
  left: 0;
  top: 6vh;
  flex-direction: column;
  align-items: left;
  display: none;
  z-index: 100;
  font-size: 10px;
}

input#menu-hamburguesa ul li{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: var(--main-color);
}

nav > ul > li:nth-child(odd){
    background-color: var(--main-color);
    width: 100%;
}

nav > ul > li:nth-child(odd) > a{
    color: var(--dark-color);
}

nav > ul > li:nth-child(even){
  background-color: var(--dark-color);
}

input#menu-hamburguesa:checked ~ ul {
  display: flex;
  height: 10vh;
  width: 100%;
}

.ig-image{
    background-color: var(--main-color);
    border-radius: 30%;
}

.menu-li{
    color: var(--main-color);
}

.menu-li > li{
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}

.menu-li > li:last-child{
  padding-left: 10px;
}

/*Lateral menu for computer view*/

.lateral-menu-container{
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.lateral-menu-container > ul {
  position: absolute;
padding-left: 93vw;
}
.lateral-menu-container > ul > li >a  {
 padding-top: 5px;
 padding-bottom: 815px;
}

.lateral-menu-list{
  list-style: none;
  writing-mode: vertical-lr;
  text-orientation: left;
}

.lateral-menu-list > li{
  cursor: pointer;
  display: flex;
}

.lateral-menu-list > li > a{
  text-decoration: none;
  color: var(--main-color);
  flex-direction: row;
  display: inline-block;
}

.lateral-menu-list > li:nth-child(odd) >a {
  background-color: var(--main-color);
  width: 100%;
  color: var(--dark-color);
}

.skills-lateral-menu-list{
  list-style: none;
  writing-mode: vertical-lr;
  text-orientation: left;
}

.lskills-lateral-menu-list > li{
  cursor: pointer;
  display: flex;
}

.skills-lateral-menu-list >li a{
  text-decoration: none;
  flex-direction: row;
  display: inline-block;
  color: var(--dark-color);
}

.skills-lateral-menu-list > li:nth-child(odd) >a {
  background-color: var(--dark-color);
  width: 100%;
  color: var(--main-color);
}
/*main*/
/*
.yellow-letters{
  color: var(--accent-color);
}
*/

.img-container{
    display: flex;
    justify-content: center;
}

.me-picture{
    width: 60vw;
    max-width:500px ;
    height: 100%;
    margin-right: 3rem;
    border-radius: 50%;
}

  h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 78px;
    padding-left: 5vw;
    margin-top: 18px;
    font-family: 'Raleway', sans-serif;
  }

  .presentation{
    display: flex;
    width:90vw ;
    padding-left: 6vw;
  }

  /*About section */

  .world-logo{
width: 24px;
height: 100%;
margin-left: 5vw;
  }

  .about-title{
    padding-left: 4vw;
  }

  .about-title-2{
    font-size: 65px;
    padding-left: 2.8vw;
  }

  .about-footer {
    border-top: none;
    position: relative;
    right: 10px;
    width: calc(100%-20px);
    min-height: 30px;
    bottom: 0;
  }

  .about-footer ul {
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 7vw;
    padding-left: 6vw;
    list-style: none;
  }

  .about-footer> ul >li >a{
    color: var(--main-color);
    text-decoration: none;
  }


  .about-me-p{
    display: flex;
    padding-left: 6vw;
    padding-right: 50px;
    max-width: 1000px;
  }

  /* CONTACT SECTION */
  .input-row{
    display: flex;
    margin-bottom: 11px;
  }
  label{
    padding-right: 10px;
  }

  input{
    width: 70%;
    border: none;
    border-bottom: 1px solid var(--accent-color);
    outline: none;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--main-color);
    font-weight: lighter;
    background-color: var(--dark-color);
    padding-left: 4px;
  }

  textarea{
    width: 85%;
    border: 1px solid var(--accent-color);
    outline: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .label{
    margin-bottom: 6px;
    display: block;
  }

  button{
    background: var(--dark-color);
    color: var(--main-color);
    width: 100px;
    border: 1px solid var(--accent-color);
    outline: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: lighter;
    margin-top: 20px;
    transition: .3s;
  }

  button:hover{
    background-color: var(--accent-color);
    color: var(--dark-color);
  }

  /*SKILLS SECTION*/

  .black-word{
    color: var(--dark-color);
  }

.experience-section{
  display: flex;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
}

.text-center{
  color: var(--dark-color);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: lighter;
  padding-left: 6vw;
}

.horizontal-scroll{
  display: flex;
  gap:1rem;
  justify-content: space-between;
  max-width: 85vw;
  overflow-x: scroll;
}

.experience-card{
  width: 280px;
  background-color: transparent;
  padding: 1.5rem 1rem;
  text-align: center;
  min-width: 200px;
  max-height: 200px;
  border: 1px solid var(--accent-color);
  color: var(--dark-color);
}

.experience-card > h5{
  font-family: 'IBM Plex Mono', monospace;
  font-weight: lighter;
}

.experience-card:hover{
  border: 3px solid var(--accent-color);
}

.experience-card>img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.back-white{
  background-color: var(--main-color);
}

  /*WORK SECTION*/

  .padding-left{
    padding-left: 6vw;
  }

  /*Media queries*/
  @media screen and (min-width:700px) {
    .horizontal-scroll{
      padding-right: 80px;
    }

    .about-title-2{
      font-size: 100px ;
    }
  }

  @media screen and (max-width:980px) {
    .lateral-menu-container{
      display: none;
    }

    .about-title{
  display: inline-block;
  font-size: 70px;
    }

    .smaller-text{
      font-size: 16px;
      padding-right: 20px;
    }
  }

@media screen and (min-width:980px) {
    /*
  input#menu-hamburguesa ~ ul {
      position: static;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content: flex-end;
    }
  
    nav > ul > li > a {
      text-decoration: none;
      transition: border-bottom 0.5s linear;
      padding: 0.5rem 1rem;
      border-bottom: 2px solid transparent;
      margin: bottom 2px;
    }
   
    nav > ul > li > img{
      visibility: hidden;
      display: none;
    }
  
    nav > ul > li > a:hover {
      border-bottom: 1px solid var(--accent-color);
    }*/

   nav { 
    display: none;
  }

  h1{
    font-size: 100px;
  }

  .lateral-menu-container{
    height: 30px;
    width: 100%;
  text-align: left;
  justify-content: flex-start;
  }

  .smaller-text{
    padding-right: 80px;
  }
  .experience-section{
    padding-right: 50px;
    max-width: 90%;
  }

}

