html{
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--main-color);
    font-weight: lighter;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    font-size: 1.2rem;
    background-color: var(--dark-color);
}

.back-white {
background-color: var(--main-color);
}

:root {
    --main-color: #ffffff;
    --accent-color: #ffd504;
    --light-color: #f9f5f2;
    --dark-color: black;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--dark-color);
    width: 100vw;
    height: 50px;
    z-index: 100;
  }

  /*.back-black{
    border-top: 10px solid black;
      }*/

  .icon-menu {
    margin-right: 5vw;
    width: 4vh;
    height: 4vh;
    cursor: pointer;
  }

  nav > ul > li > a {
    display: flex;
    font-size: 14px;
    justify-content: left;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    color: var(--main-color);
  }

input#menu-hamburguesa {
  height: 30px;
  width: 100%;
  visibility: hidden;
  border-radius: 50%;
}

/* Menu container*/
input#menu-hamburguesa ~ ul {
  display: flex;
  background-color: var(--dark-color);
  color: var(--light-color);
  position: absolute;
  list-style: none;
  width: 100%;
  left: 0;
  top: 6vh;
  flex-direction: column;
  align-items: left;
  display: none;
  z-index: 100;
  font-size: 10px;
}

input#menu-hamburguesa ul li{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: var(--main-color);
}

nav > ul > li:nth-child(odd){
    background-color: var(--main-color);
    width: 100%;
}

nav > ul > li:nth-child(odd) > a{
    color: var(--dark-color);
}

nav > ul > li:nth-child(even){
  background-color: var(--dark-color);
}

input#menu-hamburguesa:checked ~ ul {
  display: flex;
  height: 10vh;
  width: 100%;
}

.ig-image{
    background-color: var(--main-color);
    border-radius: 30%;
}

.letras-menu{
    color: var(--main-color);
}

.letras-menu > li{
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}

/*Lateral menu for computer view*/

.lateral-menu-container{
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.lateral-menu-container > ul {
  position: absolute;
padding-left: 93vw;
}
.lateral-menu-container > ul > li >a  {
 padding-top: 5px;
 padding-bottom: 815px;
}

.lateral-menu-list{
  list-style: none;
  writing-mode: vertical-lr;
  text-orientation: left;
}

.lateral-menu-list > li{
  cursor: pointer;
  display: flex;
}

.lateral-menu-list > li > a{
  text-decoration: none;
  color: var(--main-color);
  flex-direction: row;
  display: inline-block;
}

.lateral-menu-list > li:nth-child(odd) >a {
  background-color: var(--main-color);
  width: 100%;
  color: var(--dark-color);
}

.skills-lateral-menu-list{
  list-style: none;
  writing-mode: vertical-lr;
  text-orientation: left;
}

.lskills-lateral-menu-list > li{
  cursor: pointer;
  display: flex;
}

.skills-lateral-menu-list >li a{
  text-decoration: none;
  flex-direction: row;
  display: inline-block;
  color: var(--dark-color);
}

.skills-lateral-menu-list > li:nth-child(odd) >a {
  background-color: var(--dark-color);
  width: 100%;
  color: var(--main-color);
}
/*main*/
/*
.yellow-letters{
  color: var(--accent-color);
}
*/

.img-container{
    display: flex;
    justify-content: center;
}

.me-picture{
    width: 60vw;
    max-width:500px ;
    height: 100%;
    margin-right: 3rem;
    border-radius: 50%;
}

  h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 72px;
    padding-left: 6vw;
    margin-top: 18px;
    font-family: 'Raleway', sans-serif;
  }

  .presentation{
    display: flex;
    width:80vw ;
    padding-left: 6vw;
  }

  /*About section */

  .world-logo{
width: 24px;
height: 100%;
margin-left: 5vw;
  }

  .about-title{
    font-size: 90px;
  }

  .about-footer {
    border-top: none;
    position: relative;
    right: 10px;
    width: calc(100%-20px);
    min-height: 30px;
    bottom: 0;
  }

  .about-footer ul {
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 105px;
    padding-left: 60px;
    list-style: none;
  }

  .about-footer> ul >li >a{
    color: var(--main-color);
    text-decoration: none;
  }

  .about-me-p{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1000px;
  }

  /*Media queries*/
  @media screen and (max-width:980px) {
    .lateral-menu-container{
      display: none;
    }

    .about-title{
  display: inline-block;
  font-size: 70px;
    }
  }

@media screen and (min-width:980px) {
    /*
  input#menu-hamburguesa ~ ul {
      position: static;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      height: auto;
      justify-content: flex-end;
    }
  
    nav > ul > li > a {
      text-decoration: none;
      transition: border-bottom 0.5s linear;
      padding: 0.5rem 1rem;
      border-bottom: 2px solid transparent;
      margin: bottom 2px;
    }
   
    nav > ul > li > img{
      visibility: hidden;
      display: none;
    }
  
    nav > ul > li > a:hover {
      border-bottom: 1px solid var(--accent-color);
    }*/

   nav { 
    display: none;
  }


  h1{
    font-size: 100px;
  }

  .lateral-menu-container{
    height: 30px;
    width: 100%;
  text-align: left;
  justify-content: flex-start;

  }
}

